parameters:
    level: 8
    paths:
        - %rootDir%/src/

    excludePaths:
        # Makes PHPStan crash
        - 'src/DependencyInjection/SyliusBlogExtension.php'

        # Test dependencies
        - 'tests/Application/**/*'

        # Menu Provider
        - 'src/Menu/BlogUrlProvider.php'
        - 'src/Menu/BlogListUrlProvider.php'
        - 'src/Menu/CaseStudyUrlProvider.php'
        - 'src/Menu/CaseStudyListUrlProvider.php'

    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics

    reportUnmatchedIgnoredErrors: false
