MonsieurBiz\SyliusBlogPlugin\Entity\TagTranslation:
    constraints:
        -   Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity:
                fields: [ slug, locale ]
                errorPath: slug
                groups: [ monsieurbiz ]
    properties:
        name:
            -   NotBlank:
                    groups: [ monsieurbiz ]
            -   Length:
                    min: 2
                    max: 255
                    groups: [ monsieurbiz ]
        slug:
            -   NotBlank:
                    groups: [ monsieurbiz ]
            -   Length:
                    min: 2
                    max: 255
                    groups: [ monsieurbiz ]
